h1{	 color:Red;
	 text-align: center;
	 font-size:20; 
	}

div,img{
	 background-color: teal;
	 height: 400px;
	 width: 500px;
	 margin: 30px;
	 padding: 20px;
	 border: red dotted; 
	 font-family: Arial , sans-serif;
	 font-size: 28px;
	 font-weight: bold;
	}
